---
import Footer from '../components/Footer.astro'
import Hero from '../components/Hero.astro'
import Nav from '../components/Nav.astro'
import ProductCard from '../components/ProductCard.astro'
import { getLang, useTranslations } from '../i18n/utils'
import Base from '../layouts/Base.astro'

const lang = getLang(Astro.url)
const t = useTranslations(lang)
---

<Base title={t('page_title')} description={t('page_description')} lang={lang}>
  <Nav lang={lang} t={t} />
  <main>
    <Hero lang={lang} t={t} />
    <ProductCard lang={lang} t={t} />
  </main>
  <Footer t={t} />
</Base>
